<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.im.keeplive">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <application>
        <receiver android:name="com.im.keeplive.receiver.NotificationClickReceiver"/>

        <activity android:name="com.im.keeplive.activity.OnePixelActivity"
            android:theme="@style/onePixelActivity" android:launchMode="singleInstance"
            android:excludeFromRecents="true"/>

        <service android:name="com.im.keeplive.service.LocalService"/>
        <service android:name="com.im.keeplive.service.HideForegroundService"/>

        <service android:name="com.im.keeplive.service.JobHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name="com.im.keeplive.service.RemoteService"
            android:process=":remote"/>
    </application>
</manifest>
